:root {
    --text-color: #F5E1F7; /* Cor do texto */
    --card-front-color: url('assets/img/woodcard.png'); /* Imagem da frente */
    --card-back-color: url('assets/img/woodcard.png'); /* Imagem do verso */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/img/arcadenoe.png');
}

main {
    min-height: calc(100vh - 2rem); /* Considera o tamanho do rodapé */
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.cartao {
    perspective: 1000px; /* Adiciona perspectiva 3D */
    flex-grow: 1;
    flex-basis: calc(33% - 4rem); /* Ocupa um terço do espaço */
    height: 20rem;
}

.cartao__conteudo {
    background-image: var(--card-front-color); /* Imagem de fundo na frente */
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.cartao__conteudo__pergunta {
    backface-visibility: hidden; /* Esconde o conteúdo ao girar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
}

.cartao__conteudo__resposta {
    background-image: var(--card-back-color); /* Imagem de fundo no verso */
    background-size: cover;
    background-position: center;
    border: 4px solid var(--text-color);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    color: #000;
    font-size: 1rem;
    padding: 1rem;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg); /* Gira o cartão ao clicar */
}

footer {
    background-color: #F1C6E7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media (max-width: 560px) {
    #container {
        flex-direction: column;
    }

    .cartao {
        flex: 1 0 calc(100% - 2rem);
    }
}
